<section class="page-section bg-primary" id="about"> 
    <div class="container"> 
        <div class="row py-5">
        <div class="fam col-sm-5">
            <h1 class="text-white ">We make it <span style="color: #e04e2b;">Understandable</span> to everyone</h1>
            <h5>Localization with Transflow means bridgingthe gap between Global & Local</h5>
            <p class="text-white-75 mb-4">Transflow360:Your Go-To for Translation Services.</p>
            
            <div class="loginbtn">
                <button class=" secondarybttn btn btn-sm btn-outline-secondary me-2 " type="button ">GET STARTED</button>
              </div>
        </div>
        
            <div class=" col-12 col-sm-7">
                <div class ="about-image">
                    <img src="/assets/We-make-it.webp">
                </div>

            </div>   
        </div>
            <div class="col-12">
                <h2 style="font-size: 48px;color: #c5c1ca;text-align: center" class="vc_custom_heading">Join 200+ companies who trusted Transflow</h2>
            </div><br>
    </div>
</section>



   