
<section class="page-section bg-primary" id="studies"> 
    <div class="container">       
        <div class="row py-5">
            <div class=" col-sm-12">
                <h2 class="text-center mt-0">Why Choose <span style="color: #e04e2b;">Transflow?</span></h2>
                <p>Experience and Excellence</p>
                    <p>With our extensive industry experience, we have gained a deep understanding of the complexities and nuances of localization. Our team of over 3000 linguists, specializing in various domains, is equipped with the skills and knowledge to deliver accurate translations and culturally relevant adaptations. We have successfully helped numerous businesses expand their reach and effectively communicate with audiences worldwide.</p>
            </div>   

          <div class="fam col-12 col-sm-6   ">
                <div class="cardbody">
                    <div class="row">
                        <div class="col-sm-3 col-sm-6">
                            <div class="card text-white bg-secondary mb-2">
                                <div class="card-body">
                                  <h4>+15</h4>
                                  <h6>EXPERIENCE</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-sm-6">
                            <div class="card text-white bg-secondary mb-2">
                                <div class="card-body">
                                  <h4>+180</h4>
                                 <h6>LANGUAGES</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-sm-6">
                          <div class="card text-white bg-secondary mb-2">
                              <div class="card-body">
                                <h4>+20</h4>
                                <h6>DOMAINS</h6>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3 col-sm-6">
                        <div class="card text-white bg-secondary mb-2">
                            <div class="card-body">
                              <h4>+300</h4>
                              <h6>LINGUISTS</h6>
                            </div>
                        </div>
                  </div>

                    <div class="loginbtn">
                        <button class=" secondarybttn btn btn-sm btn-outline-secondary me-2 " type="button ">AND MANY MORE </button>
                    </div>

              </div>
            </div>
      </div>

       <div class="col-sm-6">
            <div class ="about-image">
                <img src="/assets/map-1.webp" width="100%">
            </div>
        </div> 

    </div>
  </div>  
</section> 


 



