<section id="card">
    <section class="listcard">
        <div class="container">
                    <div class="row">
                    <div class=" cad col-12 ">
                         <h1>Leadership <span style="color: #e04e2b;">Team</span> </h1>
                    </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-12  mx-auto">
     
                    <p>Transflow is led by a closely-knit group of industry stalwarts with hands on expertise in localization. A team of dedicated and talented individuals driven by capable leadership ensures all your localization needs are addressed in a timely and efficient manner.</p>
                    
                </div>
            </div>
    
            <div class="row mt-5">
                <div class=" cards col-lg-4">
                        <div class="card shadow-lg py-4">
                            <img src="assets/manish_img.png" alt="" class="img-fluid">
                            <div class="card-body">
                                  <h2>Manish Chapla</h2>
                                  <h5>Chief Operating Officer-COO</h5>
                                  <p>Manish Chapla is an accomplished leader with over 25+ years of experience in driving innovation and growth in the technology industry. As an expert in language technology,he has a proven track record of delivering solutions for clients across multiple industries. As the Chief Operating Officer(COO),the company’s business goals.</p>
                                  
                                  <i class="bi bi-envelope-open-fill"></i>
                            </div>
    
                        </div>
                </div>
    
    
            <div class="cards col-lg-4">
                <div class="card shadow-lg py-4">
                    <img src="assets/ranjit_01.png" alt="" class="img-fluid">
                    <div class="card-body">
                          <h2>Ranjeet Singh</h2>
                          <h5>Head-Technology</h5>
                          <p> Ranjeet Singh is a highly skilled and versatile technology expert with over 25 years of experience. His career includes roles such as lead engineer and principal architect, and he has been the Head of Technology in our company for over 7 years. Ranjeet’s strategic vision, technical prowess, and leadership have been critical to our company’s growth and success.</p>
                          
                          <i class="bi bi-envelope-open-fill"></i>
                    </div>
    
                </div>
        </div>
    
        <div class="cards col-lg-4">
            <div class="card shadow-lg py-4">
                <img src="assets/sunil.png" alt="" class="img-fluid">
                <div class="card-body">
                      <h2>Sunil Motaparti</h2>
                      <h5>Founder</h5>
                      <p>A savvy technology executive, Sunil ensured successful outcome in all product development and customer experience.</p>
                    
                      <i class="bi bi-envelope-open-fill"></i>
                </div> 
             </div>
            </div>


        <div class="quality">
                    <div class="row ">
                        <div class="col-6 ">
                            <div class="iwithtext d-flex">
                                <img src="/assets/thunder-1.png"width="30px" height="30px"  alt="">
                                <p>Faster project turnover time</p>
                            </div>
                            <div class="iwithtext d-flex">
                                <img src="assets/headphone.png"width="30px" height="30px"  alt="">
                                <p>Personalised services</p>
                            </div>
                            <div class="iwithtext d-flex">
                                <img src="/assets/technology.png"width="30px" height="30px"  alt="">
                                <p>Control & Guidance anytime</p>
                            </div>
                                    
                        </div>
                
                        <div class="col-6">
                            
                            <div class="iwithtext d-flex">
                                <img src="/assets/Thumbs-up.png"width="30px" height="30px"  alt="">
                                <p>Quality assured translation</p>
                            </div>
                            <div class="iwithtext d-flex">
                                <img src="assets/dollar.png"width="30px" height="30px"  alt="">
                                <p>Greater cost savings</p>
                            </div>
                            <div class="iwithtext d-flex">
                                <img src="/assets/technology.png"width="30px" height="30px"  alt="">
                                <p>Use of Automation technology</p>
                            </div>

                            <!-- <div id="main_home_video">
                                <video controls="" style="visibility: visible;">
                                    <source src="/Transflow_video.mp4" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </div> -->

                        </div>
                        
                    </div>

                </div>
         </div>
    </div>
        
</section>
